html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

@media screen and (min-width: 406px) and (max-width: 1090px) {
  #monkey {
    position: fixed;
    top: 0;
    right: 0;
  }
}