html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

@media screen and (min-width: 642px) and (max-width: 1090px) {
  #ostrich {
  }
}